
<div class="s" style=" padding-bottom: 20px;">
  <div class="container" >
  <% @posts.each do |post| %>
      <div class="card">
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4"> <%= link_to post.title,new_post_answer_path(post) %></p>
            </div>
          </div>
          <div class="content">
    <%= truncate(post.content, length: 50) %>
          </div>
          <div class="tags-count">
    <small>Tags: <%= raw post.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ') %></small>
          </div>
          <div class="comment-count">
            <span class="tag is-rounded"><%= post.comments.count %> comments</span>
          </div>
        </div>
      </div>
  <% end %>
  </div>
</div>